<!DOCTYPE html>
<html>

<% include ../views/header.ejs %>

<link href="/css/form_validation.css" rel="stylesheet" type="text/css">

  

    <body>
        <!-- Header -->
      <% include ../views/headerLinks.ejs %>
    <!-- Header -->

    <!-- Content Side -->
    <section class="initiativepartner" id="addIntiativePartner">
        <div class="container">
            <hr>
            <h4 class="userlist">Add Initiative Partner</h4>
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-12 forms">

                    <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12">
                            Initiative(*):
                        </label>
                        <div class=" col-lg-8 col-sm-8 col-12">
                            <div class="form-group">
                                <!-- <select class="form-control" v-validate="'required'"
                                v-model="intiativepartner.initiative_name" name="initiative_name" placeholder="Select Option">
                                <option  disabled selected>Select your option</option>
                                <option value="Option1">Option1</option>
                                <option value="Option2">Option2</option>
                                </select> -->

                                <select class="form-control" v-validate="'required'"
                                v-model="intiativepartner.initiative_name" name="initiative_name" placeholder="Select Option">
                                    
                                    <option v-for="item in initiativeList" :value="item.id">
                                        {{item.name}}
                                      </option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <small v-if="errors.has('initiative_name')" class="fieldvalidate in_flv">This field
                                        is required</small>

                            </div>
                        </div>
                    </div>

                    <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12" for="TechSupportMail">Tech Support Email:</label>
                        <div class=" col-lg-8 col-sm-8 col-12">
                            <div class="form-group">
                                <input class="form-control" type="email" id="email" placeholder="" v-validate="'required'"
                                v-model="intiativepartner.techSupportEmail" name="techSupportEmail">
                            </div>
                            <div class="form-group">
                                <small v-if="errors.has('techSupportEmail')" class="fieldvalidate in_flv">This field
                                        is required</small>

                            </div>
                        </div>
                    </div>
              
                    <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12" for="uname">Company Name:</label>
                        <div class=" col-lg-8 col-sm-8 col-12">
                            <div class="form-group">
                                <input class="form-control" type="text"  placeholder="" v-validate="'required'"
                                v-model="intiativepartner.companyName" name="companyName">
                            </div>
                            <div class="form-group">
                                    <small v-if="errors.has('companyName')" class="fieldvalidate in_flv">This field
                                            is required</small>
    
                                </div>
                        </div>
                    </div>
                    <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12">Company Logo:</label>
                        <div class=" col-lg-8 col-sm-8 col-12">
                            <div class="form-group">
                                <input type="file" ref="file"   id="companyLogo"   name="companyLogo" v-validate="'required|image'"
                                v-on:change="companyLogo()">
                            </div>
                            <div class="form-group">
                                    <small v-if="errors.has('companyLogo')" class="fieldvalidate in_flv">This field
                                            is required</small>
    
                                </div>
                        </div>
                    </div>
                    <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12" for="uname">Website:</label>
                        <div class=" col-lg-8 col-sm-8 col-12">
                            <div class="form-group">
                                <input class="form-control" type="text"  placeholder="" v-validate="'required'"
                                v-model="intiativepartner.Website" name="Website">
                            </div>

                            <div class="form-group">
                                    <small v-if="errors.has('Website')" class="fieldvalidate in_flv">This field
                                            is required</small>
    
                                </div>


                        </div>
                    </div>
                         <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12">
                            Free Trial:
                        </label>
                        <div class=" col-lg-8 col-sm-8 col-12">
                            <div class="form-group">
                                <select class="form-control" placeholder="" v-validate="'required'"
                                v-model="intiativepartner.freeTrial" name="freeTrial">
                                        <option  disabled selected>Select your option</option>
                                        <option value="Option1">No</option>
                                        <option value="Option2">Yes</option>
                                </select>
                            </div>

                            <div class="form-group">
                                    <small v-if="errors.has('freeTrial')" class="fieldvalidate in_flv">This field
                                            is required</small>
    
                                </div>

                        </div>
                    </div>
                    <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12" for="uname">Tree number:(*)</label>
                        <div class=" col-lg-8 col-sm-8 col-12">
                            <div class="form-group">
                                <input type="text" class="form-control"  placeholder="" v-validate="'required'"
                                v-model="intiativepartner.treeNumber" name="treeNumber">
                            </div>
                            <div class="form-group">
                                    <small v-if="errors.has('treeNumber')" class="fieldvalidate in_flv">This field
                                            is required</small>
    
                                </div>
                        </div>
                    </div>
                    <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12" for="uname">Cost per tree:(*)</label>
                        <div class=" col-lg-4 col-sm-4 col-12">
                            <div class="form-group">
                                <input type="text" class="form-control"  placeholder="" v-validate="'required'"
                                v-model="intiativepartner.costPerTree" name="costPerTree">
                            </div>
                            <div class="form-group">
                                    <small v-if="errors.has('costPerTree')" class="fieldvalidate in_flv">This field
                                            is required</small>
    
                                </div>
                        </div>
                    </div>
               
                </div>

                <div class="col-lg-6 col-sm-12 col-12 forms">
                    <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12" for="uname">First Name:</label>
                        <div class=" col-lg-8 col-sm-8 col-12">
                            <div class="form-group">
                                <input class="form-control" type="text"  placeholder="" v-validate="'required'"
                                v-model="intiativepartner.firstName" name="firstName">
                            </div>
                            <div class="form-group">
                                    <small v-if="errors.has('firstName')" class="fieldvalidate in_flv">This field
                                            is required</small>
    
                                </div>
                        </div>
                    </div>
                    <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12" for="uname">Last Name:</label>
                        <div class=" col-lg-8 col-sm-8 col-12">
                            <div class="form-group">
                                <input class="form-control" type="text"  placeholder="" v-validate="'required'"
                                v-model="intiativepartner.lastName" name="lastName">
                            </div>
                            <div class="form-group">
                                    <small v-if="errors.has('lastName')" class="fieldvalidate in_flv">This field
                                            is required</small>
    
                                </div>
                        </div>
                    </div>
                    <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12" for="EmailUser">Email(*):</label>
                        <div class=" col-lg-8 col-sm-8 col-12">
                            <div class="form-group">
                                <input class="form-control" type="email"  placeholder="" v-validate="'required'"
                                v-model="intiativepartner.email" name="email">
                            </div>

                            <div class="form-group">
                                    <small v-if="errors.has('email')" class="fieldvalidate in_flv">This field
                                            is required</small>
    
                                </div>
                        </div>
                    </div>
                    <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12" for="uname">Password:(*)</label>
                        <div class=" col-lg-8 col-sm-8 col-12">
                            <div class="form-group">
                                <input class="form-control" type="password" ref="password" placeholder="" v-validate="'required'"
                                v-model="intiativepartner.password" name="password">
                            </div>

                            <div class="form-group">
                                    <small v-if="errors.has('password')" class="fieldvalidate in_flv">This field
                                            is required</small>
    
                                </div>
                        </div>
                    </div>
                    <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12" for="uname">Password conf:(*)</label>
                        <div class=" col-lg-8 col-sm-8 col-12">
                            <div class="form-group">
                                <input class="form-control" type="password"  placeholder="" v-validate="'required|confirmed:password'"
                                v-model="intiativepartner.PasswordConf" name="PasswordConf">
                            </div>
                            
                            <div class="form-group">
                                    <small v-if="errors.has('PasswordConf')" class="fieldvalidate in_flv">Passwords are mismatching</small>
    
                                </div>
                        </div>
                    </div>
              
                    <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12" for="uname">Phone:</label>
                        <div class=" col-lg-8 col-sm-8 col-12">
                            <div class="form-group">
                                <input type="text" class="form-control"  placeholder="" v-validate="'required'"
                                v-model="intiativepartner.phone" name="phone">
                            </div>

                            <div class="form-group">
                                    <small v-if="errors.has('phone')" class="fieldvalidate in_flv">This field
                                            is required</small>
    
                                </div>
                        </div>
                    </div>
                 
                
                    <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12">
                            Initial Login Details Email(Enable/Disable):
                        </label>
                        <div class=" col-lg-8 col-sm-8 col-12">
                            <div class="form-group">
                                <select class="form-control" v-validate="'required'"
                                v-model="intiativepartner.InitialLoginDetails" name="InitialLoginDetails">
                                    <option>
                                        Yes
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                    <small v-if="errors.has('InitialLoginDetails')" class="fieldvalidate in_flv">This field
                                            is required</small>
    
                                </div>
                        </div>
                    </div>

                   
                   
                    <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12">
                            Currency:(*)
                        </label>
                        <div class=" col-lg-8 col-sm-8 col-12">
                            <div class="form-group">
                                <select class="form-control" v-validate="'required'"
                                v-model="intiativepartner.currency" name="currency">
                                    <option>
                                        --Select--
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                    <small v-if="errors.has('currency')" class="fieldvalidate in_flv">This field
                                            is required</small>
    
                                </div>
                        </div>
                    </div>
                    <div class="row  ">
                        <label class="col-lg-4 col-sm-4 col-12" for="uname">Tax:(*)</label>
                        <div class=" col-lg-4 col-sm-4 col-8">
                            <div class="form-group">
                                <input type="text" class="form-control"  placeholder=""  v-validate="'required'"
                                v-model="intiativepartner.tax" name="tax">
                            </div>
                            <div class="form-group">
                                    <small v-if="errors.has('tax')" class="fieldvalidate in_flv">This field
                                            is required</small>
    
                                </div>
                        </div>
                        <label class="col-lg-4 col-sm-4 col-4" for="uname">%</label>
                    </div>
                </div>
            </div>
            <div class="buttongroups">
                <button type="button" class="btn-sm headerbutton savebutton btn-success" v-on:click="addInitiativePartner()">Save</button>
                <button type="button" class="btn-sm headerbutton savebutton btn-warning">Cancel</button>
            </div>
            <hr>
        </div>
    </section>
    <!-- Content Side -->

    <!--footer-->
    <% include ../views/footer.ejs %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/api/validation.js"></script>
    <script src="/js/api/addInitiativePartner.js" type="text/javascript"></script>
</body>

</html>