<!DOCTYPE html>
<html>
<% include ../views/header.ejs %>

  

    <body>
        <!-- Header -->
      <% include ../views/headerLinks.ejs %>
        <!-- Header -->
        <!-- Header -->

        <!-- Content Side -->
        <section class="initiativepartner">
            <div class="container">
                <hr>
                <h4 class="userlist">Add Initiative Partner</h4>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-12 forms">

                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">
                                Initiative(*):
                            </label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            --Select--
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">
                                Send Invoices:
                            </label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            On Upload
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">
                                Monthly Remainder Email:
                            </label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            No
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="email">Tech Support Email:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="email" id="email" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">
                                Free Trial:
                            </label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            No
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Company Name:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">Company Logo:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input type="file" id="myFile" name="filename2" class="file">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Website:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Refered ID(*):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">First Name:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Last Name:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Email(*):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="email" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-12 forms">
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Username(*):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Password(*):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="password" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Password conf(*):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="password" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">
                                Initial Login Details Email(Enable/Disable):
                            </label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            Yes
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Dashbord User:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Phone:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Tree number(*):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Cost per tree(*):</label>
                            <div class=" col-lg-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Delay payment by:</label>
                            <div class=" col-lg-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="uname" placeholder="">
                                </div>
                            </div>
                            <label class="col-lg-4 col-sm-4" for="uname">days</label>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">
                                Currency(*):
                            </label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            --Select--
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Tax(*):</label>
                            <div class=" col-lg-4 col-sm-4 col-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="uname" placeholder="">
                                </div>
                            </div>
                            <label class="col-lg-4 col-sm-4 col-4" for="uname">%</label>
                        </div>
                    </div>
                </div>
                <div class="buttongroups">
                    <button type="button" class="btn-sm headerbutton savebutton btn-success">Save</button>
                    <button type="button" class="btn-sm headerbutton savebutton btn-warning">Cancel</button>
                    <button type="button" class="btn-sm headerbutton savebutton btn-info">Test</button>
                </div>
                <hr>
            </div>
        </section>
        <!-- Content Side -->

        <!--footer-->
         <% include ../views/footer.ejs %>
    </body>

</html>