<!DOCTYPE html>
<html>
<% include ../views/header.ejs %>

  

    <body>
        <!-- Header -->
      <% include ../views/headerLinks.ejs %>
        <!-- Header -->

        <!-- Content Side -->
        <section class="initiativepartner">
            <div class="container">
                <hr>
                <h4 class="userlist">Add Initiative <span class="pull-right save-btn"><input type="submit" value="Save all" name="add_initiative" class="btn btn-warning" /></span></h4>
                <div class="partnertable table-responsive">
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td class="firstcolumn">Enter Initiative Name</td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Initiative Name(*):</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="uname" placeholder="">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">Enter Initiative Certificate Name</td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Initiative Certificate Name(*):</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="uname" placeholder="">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">Enter Local Name</td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Local Name(*):</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="uname" placeholder="">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">Enter Website URL</td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Website(*):</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="uname" placeholder="">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">Enter Sender Email Title</td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Email Title(*):</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="uname" placeholder="">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">Enter Sender Certificates Email Title</td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Certificate Email Title(*):</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="uname" placeholder="">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        
                            <tr>
                                <td class="firstcolumn">Certificate Layout</td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label>Certificate Layout:</label>
                                        <div class="form-group">
                                            <select class="form-control" style="width:249px">
                                                <option>
                                                    Layout #1
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">Upload Certificate Image</td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion radiobutton">
                                        <label>Upload:</label>
                                        <div class="form-group">
                                            <input type="file" id="myFile" name="filename2">
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">Certificate Field #1
                                    -fields can be replaced
                                    [company_name]
                                    [client_trees]
                                    [initiative_name]
                                    [total_trees]
                                </td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Certificate Field #1:</label>
                                        <div class="form-group">
                                            <textarea class="form-control" rows="5" id="uname"></textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">Certificate Field #2
                                    -fields can be replaced
                                    [company_name]
                                    [client_trees]
                                    [initiative_name]
                                    [total_trees]
                                </td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Certificate Field #2:</label>
                                        <div class="form-group">
                                            <textarea class="form-control" rows="5" id="uname"></textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">Certificate Field #3
                                    -fields can be replaced
                                    [company_name]
                                    [client_trees]
                                    [initiative_name]
                                    [total_trees]
                                </td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Certificate Field #3:</label>
                                        <div class="form-group">
                                            <textarea class="form-control" rows="5" id="uname"></textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">Certificate Field #4
                                    -fields can be replaced
                                    [company_name]
                                    [client_trees]
                                    [initiative_name]
                                    [total_trees]
                                </td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Certificate Field #4:</label>
                                        <div class="form-group">
                                            <textarea class="form-control" rows="5" id="uname"></textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">
                                    <textarea rows="9" cols="25" class="outline">Initiative partner account
- when a new Initiativer is added
- fields can be replaced
[initiative_name]
[name]
[first_name]
[username]
[password]
[unique_url]
[ticker_url]  </textarea>
                                </td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Subject:</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="uname" placeholder="">
                                        </div>
                                        <label for="uname">Message:</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">
                                    <textarea rows="9" cols="25" class="outline">Initiative Client activation Email
[contact_person]
[activation_url]
[name]: name of company
[initiative_name]
[name]
[first_name]
[unique_url]
[ticker_url]</textarea>
                                </td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Subject:</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="uname" placeholder="">
                                        </div>
                                        <label for="uname">Message:</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">
                                    <textarea rows="5" cols="25" class="outline">Email to initiative's partner clients
- when a new initiative confirm his clients on the csv file, emails are sent his clients
- fields can be replaced
[initiative_name]
[contact_person]
[company_name]
[username]
[password]
[unique_url]
[ticker_url]    </textarea>
                                </td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Subject:</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="uname" placeholder="">
                                        </div>
                                        <label for="uname">Message:</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">
                                    <textarea rows="5" cols="25" class="outline">Invoice and Certificate for initiative partner
- Email is sent to him when he confirm tree number on the csv file

- Fields can be added
[initiative_name]
[contact_person]
[company_name]
[total_trees]
[current_trees]
[total]: total of money
[ticker_url]
[unique_url]      </textarea>
                                </td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Subject:</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="uname" placeholder="">
                                        </div>
                                        <label for="uname">Message:</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">
                                    <textarea rows="9" cols="25" class="outline">Email to Update initiative's partner clients 
- when a new initiative confirm his clients on the csv file, emails are sent his clients
- fields can be replaced
[initiative_name]
[contact_person]
[company_name]
[unique_url]
[ticker_url]        </textarea>
                                </td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Subject:</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="uname" placeholder="">
                                        </div>
                                        <label for="uname">Message:</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">
                                    <textarea rows="9" cols="25" class="outline">Monthly Reminder Email
- It will send reminder email to partner to submit figures
- fields can be replaced
[initiative_name]
[contact_person]
[company_name]                        </textarea>
                                </td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Subject:</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="uname" placeholder="">
                                        </div>
                                        <label for="uname">Message:</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">
                                    <textarea rows="9" cols="25" class="outline"> </textarea>
                                </td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Subject:</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="uname" placeholder="">
                                        </div>
                                        <label for="uname">Message:</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstcolumn">
                                    <textarea rows="9" cols="25" class="outline"> </textarea>
                                </td>
                                <td class="secondcolumn">
                                    <div class="form-group formportion">
                                        <label for="uname">Subject:</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="uname" placeholder="">
                                        </div>
                                        <label for="uname">Message:</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
            </div>
        </section>
        <!-- Content Side -->

        <!--footer-->
      <% include ../views/footer.ejs %>
    </body>

</html>