<!DOCTYPE html>
<html>

<% include ../views/header.ejs %>

  

    <body>
        <!-- Header -->
      <% include ../views/headerLinks.ejs %>
    <!-- Header -->

    <!-- Content Side -->
    <section class="initiativepartner">
        <div class="container">
            <hr>
            <h4 class="userlist">Edit Initiative <span class="pull-right save-btn"><input type="submit" value="Save all"
                        name="add_initiative" class="btn btn-warning" /></span></h4>
            <div class="partnertable table-responsive">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td class="firstcolumn">Enter Initiative Name</td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Initiative Name(*):</label>
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="uname" placeholder="">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">Enter Initiative Certificate Name</td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Initiative Certificate Name(*):</label>
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="uname" placeholder="">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">Enter Local Name</td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Local Name(*):</label>
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="uname" placeholder="">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">Enter Website URL</td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Website(*):</label>
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="uname" placeholder="">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">Enable/Disable Client Activation Email</td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label>Client Activation Email:</label>
                                    <div class="form-group">
                                        <select class="form-control" style="width:249px">
                                            <option>
                                                Yes
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">Client Email Attached Certificate Type</td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label>Select Type:</label>
                                    <div class="form-group">
                                        <select class="form-control" style="width:249px">
                                            <option>
                                                PDF
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">Counter Type</td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label>Select Counter Type:</label>
                                    <div class="form-group">
                                        <select class="form-control" style="width:349px">
                                            <option>
                                                Green Earth Appeal
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">Enable/Disable Request for Funds</td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label>Request for Funds:</label>
                                    <div class="d-flex formportion">
                                        <div class="form-check mr-2">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="optradio">Yes
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="optradio">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">Total Tree Counter</td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    Tree Counter URL: <a
                                        href="">https://sustainable-meeting.com/admin/tickers/initiative_tickers/ticker_1.png</a>
                                    <div class="clearfix"></div>
                                    <button class="btn btn-info btn-sm headerbutton mt-1 mb-1">
                                        Copy URL
                                    </button>
                                    <div class="clearfix"></div>
                                    <img src="/images/332.png">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">Certificate PDF URL</td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <a
                                        href="">https://sustainable-meeting.com/admin/uploads/certs/initiatives/The_Green_Earth_Appeal_Certificate_Initiative_1.pdf</a>
                                    <div class="clearfix"></div>
                                    <button class="btn btn-info btn-sm headerbutton mt-1 mb-1">
                                        Copy URL
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">Enter Sender Email Title </br>
                                - fields can be replaced</br>
                                [first_name]</br>
                                [last_name]</br>
                                [name]</br>
                                [contact_person]</br>
                                [email_address]</td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Email Title: (*):</label>
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="uname" placeholder="">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">Enter Sender Certificates Email Title </br>
                                - fields can be replaced</br>
                                [attendee_first_name]</br>
                                [attendee_last_name]</br>
                                [attendee_email_address]</br>
                                [Meeting_organiser_first_name]</br>
                                [Meeting_organiser_last_name]</br>
                                [Meeting_organiser_email_address]</td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Certificate Email Title: (*):</label>
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="uname" placeholder="">
                                    </div>
                                </div>
                            </td>

                        </tr>


                        <tr>
                            <td class="firstcolumn">Certificate Layout</td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label>Certificate Layout:</label>
                                    <div class="form-group">
                                        <select class="form-control" style="width:249px">
                                            <option>
                                                Layout #1
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">Upload Certificate Image</td>
                            <td class="secondcolumn">
                                <div class="form-group formportion radiobutton">
                                    <label>Upload:</label>
                                    <div class="d-flex align-items-center">
                                        <img class="mr-1" width="200"
                                            src="https://sustainable-meeting.com/admin/libraries/imgs/20190731083455-Sustainable_Meeting_Certificate_sustainable_meeting_no_gea.jpg?1574747081">

                                        <input type="file" id="myFile" name="filename2">

                                    </div>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">Certificate Field #1
                                -fields can be replaced
                                [company_name]
                                [client_trees]
                                [initiative_name]
                                [total_trees]
                            </td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Certificate Field #1:</label>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" id="uname"></textarea>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">Certificate Field #2
                                -fields can be replaced
                                [company_name]
                                [client_trees]
                                [initiative_name]
                                [total_trees]
                            </td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Certificate Field #2:</label>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" id="uname"></textarea>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">Certificate Field #3
                                -fields can be replaced
                                [company_name]
                                [client_trees]
                                [initiative_name]
                                [total_trees]
                            </td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Certificate Field #3:</label>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" id="uname"></textarea>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">Certificate Field #4
                                -fields can be replaced
                                [company_name]
                                [client_trees]
                                [initiative_name]
                                [total_trees]
                            </td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Certificate Field #4:</label>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" id="uname"></textarea>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">
                                <textarea rows="9" cols="25" class="outline">By invitation only
- fields can be replaced
[email_address]

                                    </textarea>
                            </td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Off/On:</label>
                                    <div class="clearfix"></div>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider"></span>
                                    </label>
                                    <div class="clearfix"></div>
                                    <label for="uname">Subject:</label>
                                    <div class="clearfix"></div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="uname" placeholder="">
                                    </div>
                                    <label for="uname">Message:</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">
                                <textarea rows="9" cols="25" class="outline">Initiative partner account -When a new initiativer is added -fields can be replaced [initiative_name] [name] [first_name] [username] [password] [unique_url] [ticker_url]
                                    </textarea>
                            </td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Off/On:</label>
                                    <div class="clearfix"></div>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider"></span>
                                    </label>
                                    <div class="clearfix"></div>
                                    <label for="uname">Subject:</label>
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="uname" placeholder="">
                                    </div>
                                    <label for="uname">Message:</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">
                                <textarea rows="5" cols="25" class="outline">Initiative partner account -When a new initiativer is added -fields can be replaced [initiative_name] [name] [first_name] [username] [password] [unique_url] [ticker_url]
                                    </textarea>
                            </td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Off/On:</label>
                                    <div class="clearfix"></div>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider"></span>
                                    </label>
                                    <div class="clearfix"></div>
                                    <label for="uname">Subject:</label>
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="uname" placeholder="">
                                    </div>
                                    <label for="uname">Message:</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">
                                <textarea rows="5" cols="25" class="outline">Initiative partner account -When a new initiativer is added -fields can be replaced [initiative_name] [name] [first_name] [username] [password] [unique_url] [ticker_url]
                                    </textarea>
                            </td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Off/On:</label>
                                    <div class="clearfix"></div>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider"></span>
                                    </label>
                                    <div class="clearfix"></div>
                                    <label for="uname">Subject:</label>
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="uname" placeholder="">
                                    </div>
                                    <label for="uname">Message:</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">
                                <textarea rows="9" cols="25" class="outline">Initiative partner account -When a new initiativer is added -fields can be replaced [initiative_name] [name] [first_name] [username] [password] [unique_url] [ticker_url]
                                    </textarea>
                            </td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Off/On:</label>
                                    <div class="clearfix"></div>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider"></span>
                                    </label>
                                    <div class="clearfix"></div>
                                    <label for="uname">Subject:</label>
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="uname" placeholder="">
                                    </div>
                                    <label for="uname">Message:</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">
                                <textarea rows="9" cols="25" class="outline"> </textarea>
                            </td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Off/On:</label>
                                    <div class="clearfix"></div>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider"></span>
                                    </label>
                                    <div class="clearfix"></div>
                                    <label for="uname">Subject:</label>
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="uname" placeholder="">
                                    </div>
                                    <label for="uname">Message:</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstcolumn">
                                <textarea rows="9" cols="25" class="outline"> </textarea>
                            </td>
                            <td class="secondcolumn">
                                <div class="form-group formportion">
                                    <label for="uname">Off/On:</label>
                                    <div class="clearfix"></div>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider"></span>
                                    </label>
                                    <div class="clearfix"></div>
                                    <label for="uname">Subject:</label>
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="uname" placeholder="">
                                    </div>
                                    <label for="uname">Message:</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
        </div>
    </section>
    <!-- Content Side -->

    <!--footer-->
    <% include ../views/footer.ejs %>
</body>

</html>