<!DOCTYPE html>
<html>
<% include ../views/header.ejs %>

  

    <body>
        <!-- Header -->
      <% include ../views/headerLinks.ejs %>
        <!-- Header -->
        <!-- Header -->

        <!-- Content Side -->
        <section class="initiativepartner">
            <div class="container">
                <hr>
                <h4 class="userlist">Edit Initiative Partner</h4>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-12 forms">

                        <div class="row">
                            <label class="col-lg-4 col-sm-4 col-12">
                                Initiative(*):
                            </label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            Sustainable Meeting
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">
                                Send Invoices:
                            </label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            Monthly
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">
                                Monthly Remainder Email:
                            </label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            No
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">
                                Free Trial:
                            </label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            No
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">
                                Grid Upload:
                            </label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            No
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <label class="col-lg-4 col-sm-4 col-12" for="email">Partner Landing Page:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group link">
                                    <a href="#">https://sustainable-meeting.com/?refid=8ZP6H</a>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <label class="col-lg-4 col-sm-4 col-12" for="email">Your Tree Counter:</label>

                            <div class=" col-lg-8 col-sm-8 col-12">

                                <div class="form-group link">
                                    <img src="images/tree-counter.png" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <label class="col-lg-4 col-sm-4 col-12" for="email">Use this URL to link to your
                                counter:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group link">
                                    <a href="#">https://sustainable-meeting.com/admin/tickers_8ZP6H.png</a>
                                    <button class="btn btn-info btn-sm headerbutton mt-1 mb-1">
                                        Copy URL
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="email">Your Tree Counter(Green):</label>
                            <div class="col-lg-8 col-sm-8 col-12">
                                <div class="form-group link">
                                    <img src="images/green-tree.png" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="email">Your Tree Counter(Black):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group link">
                                    <img src="images/black-tree.png" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class=" col-lg-4 col-sm-4 col-12" for="email">Your Tree Counter(White):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <img src="images/white-tree.png" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-12 forms">

                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Use this URL to link to your
                                certificate(Full):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group link">
                                    <a href="#">https://sustainable-meeting.com/admin/cert/full_8ZP6H.png</a>
                                    <button class="btn btn-info btn-sm headerbutton mt-1 mb-1">
                                        Copy URL
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Use this URL to link to your
                                certificate(Thumbnail):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group link">
                                    <a href="#">https://sustainable-meeting.com/admin/cert/thumb_8ZP6H.png</a>
                                    <button class="btn btn-info btn-sm headerbutton mt-1 mb-1">
                                        Copy URL
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Company Name:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="uname" placeholder="The Green Earth Appeal">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">Company Logo:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input type="file" id="myFile" name="filename2" class="link">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Website:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="uname"
                                           placeholder="www.greenearthappeal.org">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">First Name:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="uname" placeholder="Cheryl">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Last Name:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="uname" placeholder="Brown">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Email(*):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="email" id="uname"
                                           placeholder="cheryl.brown@greenearthappel.com">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Phone:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Address(*):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">City(*):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Area(*):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Post Code(*):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h4 class="userlist subheading">Only For Admin</h4>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-12 forms">

                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Dashbord User:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="email" id="uname"
                                           placeholder="cheryl.brown@greenearthappel.com">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Sender Email:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="email" id="uname"
                                           placeholder="cheryl.brown@greenearthappel.com">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Replay-to Email:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="email" id="uname"
                                           placeholder="cheryl.brown@greenearthappel.com">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Tech support Email:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="email" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">
                                Counter Type:
                            </label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            Select
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">Upload Certificate Image:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input type="file" id="myFile" name="filename2" class="link file mt-2">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">
                                No. of restaurants under partner:
                            </label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            Single
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">
                                Attach certificate in emails:
                            </label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <div class="d-flex formportion link">
                                        <div class="form-check mr-2">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="optradio">Yes
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="optradio">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">
                                When will emails be sent:
                            </label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <div class="d-flex formportion link">
                                        <div class="form-check mr-2">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="optradio">Immediately
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="optradio">Following
                                                morning
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">Tree number(*):</label>
                            <div class="col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="uname" placeholder="0">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">
                                Active:
                            </label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <div class="d-flex formportion link">
                                        <div class="form-check mr-2">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="optradio">Active
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="optradio">Inactive
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Cost per tree(*):</label>
                            <div class=" col-lg-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="uname" placeholder="99">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Delay payment by:</label>
                            <div class=" col-lg-4 col-sm-4 col-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="uname" placeholder="0">
                                </div>
                            </div>
                            <label class="col-lg-4 col-sm-4 col-4" for="uname">days</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-12 forms">

                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12">
                                Currency(*):
                            </label>
                            <div class=" col-lg-4 col-sm-4 col-4">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            GBP
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Tax(*):</label>
                            <div class=" col-lg-4 col-sm-4 col-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="uname" placeholder="0">
                                </div>
                            </div>
                            <label class="col-lg-4 col-sm-4 col-4" for="uname">%</label>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname"></label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <label class="links">Fields for email template is sent to
                                        initiative
                                        partner
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Subject(*):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">CC:</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Message(*):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <textarea rows="9" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Text on certificate(*): Use:
                                [name][total_trees][initiative]</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <textarea rows="9" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttongroups">
                    <button type="button" class="btn-sm headerbutton savebutton btn-success">Save</button>
                    <button type="button" class="btn-sm headerbutton savebutton btn-warning">Cancel</button>
                    <button type="button" class="btn-sm headerbutton savebutton btn-info">Test</button>
                </div>
                <div class="changepassword forms">
                    <hr>
                    <div class="password">
                        <h4 class="userlist subheading">Change password:</h4>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Username(*):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="uname"
                                           placeholder="cheryl.brown@greenearthappeal.com">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Password(*):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input type="password" class="form-control" id="uname" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row  ">
                            <label class="col-lg-4 col-sm-4 col-12" for="uname">Password Conf.(*):</label>
                            <div class=" col-lg-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <input type="password" class="form-control" id="uname" placeholder="">
                                </div>
                                <div class=" col-lg-8 col-sm-8 col-12">
                                    <div class="buttongroups">
                                        <button type="button" class="btn-sm headerbutton savebutton btn-success">Update
                                            Password</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
        </section>
        <!-- Content Side -->

        <!--footer-->
     <% include ../views/footer.ejs %>
    </body>

</html>