<!DOCTYPE html>
<html>
   <% include ../views/header.ejs %>
   <link href="/css/form_validation.css" rel="stylesheet" type="text/css">
   <body>
      <!-- Header -->
      <% include ../views/headerLinks.ejs %>
      <!-- Header -->
      <!-- Header -->
      <!-- Content Side -->

      <div id="addInitiativewithSameNameAlert" class="modal" tabindex="-1" role="dialog">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Status</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body" style="text-align: center;">
                  <p>Entered initiative name is already registered.</p>
               </div>
               <div class="modal-footer">
                  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  <button type="button" class="btn btn-success center_btn"  data-dismiss="modal">Ok</button>
               </div>
            </div>
         </div>
      </div>

      
      <section class="initiativepartner" id="editIntiative">
         <div id="RecordUPdated" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title">Status</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                     <p>Record has been updated</p>
                  </div>
                  <div class="modal-footer">
                     <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                     <button type="button" class="btn btn-success center_btn" data-dismiss="modal">Ok</button>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <hr>
            <h4 class="userlist">Edit Initiative <span class="pull-right save-btn"><input type="submit"
               value="Update Changes" name="add_initiative" class="btn btn-warning"
               v-on:click="UpdateInitiativeData()" /></span></h4>
            <div class="partnertable table-responsive">
               <table class="table table-striped table-bordered">
                  <tbody>
                     <tr>
                        <td class="firstcolumn">Enter Initiative Name</td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Initiative Name(*):</label>
                              <div class="form-group">
                                 <input class="form-control" v-validate="'required'"
                                    v-model="intiative.initiative_name" name="initiative_name" type="text"
                                    placeholder="" />
                              </div>
                              <small v-if="errors.has('initiative_name')" class="fieldvalidate in_flv">This field
                              is required</small>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">Enter Initiative Certificate Name</td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Initiative Certificate Name(*):</label>
                              <div class="form-group">
                                 <input class="form-control" v-validate="'required'"
                                    v-model="intiative.ini_certificate_name" name="ini_certificate_name"
                                    type="text"  placeholder="">
                              </div>
                              <small v-if="errors.has('ini_certificate_name')" class="fieldvalidate in_flv">This
                              field is required</small>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">Enter Local Name</td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Local Name(*):</label>
                              <div class="form-group">
                                 <input class="form-control" v-validate="'required'"
                                    v-model="intiative.local_name" name="local_name" type="text" 
                                    placeholder="">
                              </div>
                              <small v-if="errors.has('local_name')" class="fieldvalidate in_flv">This field is
                              required</small>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">Enter Website URL</td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Website(*):</label>
                              <div class="form-group">
                                 <input class="form-control" v-validate="'required|url'" v-model="intiative.website"
                                    name="website" type="text"  placeholder="">
                              </div>
                              <small v-if="errors.has('website')" class="fieldvalidate in_flv">
                              This field is
                              required and should be a valid URL</small>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">Enter Sender Email Title </br>
                           - fields can be replaced</br>
                           [first_name]</br>
                           [last_name]</br>
                           [name]</br>
                           [contact_person]</br>
                           [email_address]
                        </td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Email Title: (*):</label>
                              <div class="form-group">
                                 <input class="form-control" v-validate="'required'"
                                    v-model="intiative.sender_email_title" name="sender_email_title" type="text"
                                    placeholder="">
                              </div>
                              <small v-if="errors.has('sender_email_title')" class="fieldvalidate in_flv">This
                              field is required</small>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">Enter Sender Certificates Email Title </br>
                           - fields can be replaced</br>
                           [attendee_first_name]</br>
                           [attendee_last_name]</br>
                           [attendee_email_address]</br>
                           [Meeting_organiser_first_name]</br>
                           [Meeting_organiser_last_name]</br>
                           [Meeting_organiser_email_address]
                        </td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Certificate Email Title: (*):</label>
                              <div class="form-group">
                                 <input class="form-control" v-validate="'required'"
                                    v-model="intiative.sender_certificate_email_title"
                                    name="sender_certificate_email_title" type="text"  placeholder="">
                              </div>
                              <small v-if="errors.has('sender_certificate_email_title')"
                                 class="fieldvalidate in_flv">This field is required</small>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">Certificate Layout</td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label>Certificate Layout:</label>
                              <div class="form-group">
                                 <select class="form-control" style="width:249px">
                                    <option>
                                       Layout #1
                                    </option>
                                 </select>
                              </div>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">Upload Certificate Image</td>
                        <td class="secondcolumn">
                           <div class="form-group formportion radiobutton">
                              <label>Upload:</label>
                              <!-- <div class="d-flex align-items-center">
                                 <img class="mr-1" width="200"
                                     v-bind:src="'http://sustainable-meeting.s3-eu-west-1.amazonaws.com/'+datas.bk_image">
                                 
                                 <input type="file" ref="file" id="cirtificateImage" name="bk_image"
                                     v-on:change="handleFileUpload()">
                                 
                                 </div> -->
                              <div class="form-group">
                                 <form enctype="multipart/form-data" id="cirtiImage">
                                    <img class="mr-1" width="200"
                                    v-bind:src="'http://sustainable-meeting.s3-eu-west-1.amazonaws.com/'+intiative.bk_image">
                                    <input type="file" ref="file"   id="cirtificateImage"   name="bk_image" v-validate="'image'"
                                       v-on:change="handleFileUpload()"/>
                                 </form>


                                 <div id="previewUploadImage"  v-if="imagePreview1">
                                       <span>Uploaded Image</span>
                                       <img v-if="imagePreview1" :src="imagePreview1" />
                                     </div>
                              </div>
                              <div class="form-group">
                                 <small v-if="errors.has('bk_image')" class="fieldvalidate in_flv">The selected file should be an image</small>
                              </div>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">Certificate Field #1
                           -fields can be replaced
                           [company_name]
                           [client_trees]
                           [initiative_name]
                           [total_trees]
                        </td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Certificate Field #1:</label>
                              <div class="form-group">
                                 <textarea class="form-control" v-validate="'required'"
                                    v-model="intiative.certificate1" name="certificate1" rows="5"
                                    ></textarea>
                              </div>
                              <small v-if="errors.has('certificate1')" class="fieldvalidate in_flv">This field is
                              required</small>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">Certificate Field #2
                           -fields can be replaced
                           [company_name]
                           [client_trees]
                           [initiative_name]
                           [total_trees]
                        </td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Certificate Field #2:</label>
                              <div class="form-group">
                                 <textarea class="form-control" v-validate="'required'"
                                    v-model="intiative.certificate2" name="certificate2" rows="5"
                                    ></textarea>
                              </div>
                              <small v-if="errors.has('certificate2')" class="fieldvalidate in_flv">This field is
                              required</small>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">Certificate Field #3
                           -fields can be replaced
                           [company_name]
                           [client_trees]
                           [initiative_name]
                           [total_trees]
                        </td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Certificate Field #3:</label>
                              <div class="form-group">
                                 <textarea class="form-control" v-validate="'required'"
                                    v-model="intiative.certificate3" name="certificate3" rows="5"
                                    ></textarea>
                              </div>
                              <small v-if="errors.has('certificate3')" class="fieldvalidate in_flv">This field is
                              required</small>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">Certificate Field #4
                           -fields can be replaced
                           [company_name]
                           [client_trees]
                           [initiative_name]
                           [total_trees]
                        </td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Certificate Field #4:</label>
                              <div class="form-group">
                                 <textarea class="form-control" v-validate="'required'"
                                    v-model="intiative.certificate4" name="certificate4" rows="5"
                                    ></textarea>
                              </div>
                              <div class="form-group">
                                 <small v-if="errors.has('certificate4')" class="fieldvalidate in_flv">This field
                                 is required</small>
                              </div>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">
                           <textarea rows="9" cols="25" class="outline">By invitation only
                           - fields can be replaced
                           [email_address]
                           </textarea>
                        </td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Subject:</label>
                              <div class="form-group">
                                 <input class="form-control" v-validate="'required'"
                                    v-model="intiative.mail1_sub" name="mail1_sub" type="text"
                                    placeholder="">
                              </div>
                              <div class="form-group">
                                 <small v-if="errors.has('mail1_sub')" class="fieldvalidate in_flv">This
                                 field is required</small>
                              </div>
                              <label for="uname">Message:</label>
                              <div class="outereditor">
                                 <div class="form-group">
                                    <div class="editor">
                                       <textarea class="ckeditor" id="mail1_body" name="mail1_body" ref="foo" v-model="intiative.mail1_body" v-validate="'required'"
                                          > </textarea>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <small v-if="errors.has('mail1_body')" class="fieldvalidate in_flv">This field is required</small>
                                 </div>
                              </div>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">
                           <textarea rows="9" cols="25" class="outline">Initiative partner account -When a new initiativer is added -fields can be replaced [initiative_name] [name] [first_name] [username] [password] [unique_url] [ticker_url]
                           </textarea>
                        </td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Subject:</label>
                              <div class="form-group">
                                 <input class="form-control" v-validate="'required'"
                                    v-model="intiative.mail2_sub" name="mail2_sub" type="text"
                                    placeholder="">
                              </div>
                              <div class="form-group">
                                 <small v-if="errors.has('mail2_sub')" class="fieldvalidate in_flv">This
                                 field is required</small>
                              </div>
                              <label for="uname">Message:</label>
                              <div class="outereditor">
                                 <div class="form-group">
                                    <div class="editor">
                                       <form action="" method="POST" enctype="multipart/form-data">
                                          <textarea class="ckeditor" id="mail2_body" name="mail2_body"  v-model="intiative.mail2_body" v-validate="'required'"></textarea>
                                       </form>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <small v-if="errors.has('mail2_body')" class="fieldvalidate in_flv">This field is required</small>
                                 </div>
                              </div>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">
                           <textarea rows="5" cols="25" class="outline">Initiative partner account -When a new initiativer is added -fields can be replaced [initiative_name] [name] [first_name] [username] [password] [unique_url] [ticker_url]
                           </textarea>
                        </td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Subject:</label>
                              <div class="form-group">
                                 <input class="form-control" v-validate="'required'"
                                    v-model="intiative.mail3_sub" name="mail3_sub" type="text"
                                    placeholder="">
                              </div>
                              <div class="form-group">
                                 <small v-if="errors.has('mail3_sub')" class="fieldvalidate in_flv">This
                                 field is required</small>
                              </div>
                              <label for="uname">Message:</label>
                              <div class="outereditor">
                                 <div class="form-group">
                                    <div class="editor">
                                       <form action="" method="POST" enctype="multipart/form-data">
                                          <textarea class="ckeditor" id="mail3_body" name="mail3_body"  v-model="intiative.mail3_body" v-validate="'required'">
                                          </textarea>
                                       </form>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <small v-if="errors.has('mail3_body')" class="fieldvalidate in_flv">This field is required</small>
                                 </div>
                              </div>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">
                           <textarea rows="5" cols="25" class="outline">Initiative partner account -When a new initiativer is added -fields can be replaced [initiative_name] [name] [first_name] [username] [password] [unique_url] [ticker_url]
                           </textarea>
                        </td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Subject:</label>
                              <div class="form-group">
                                 <input class="form-control" v-validate="'required'"
                                    v-model="intiative.mail4_sub" name="mail4_sub" type="text"
                                    placeholder="">
                              </div>
                              <div class="form-group">
                                 <small v-if="errors.has('mail4_sub')" class="fieldvalidate in_flv">This
                                 field is required</small>
                              </div>
                              <label for="uname">Message:</label>
                              <div class="outereditor">
                                 <div class="form-group">
                                    <div class="editor">
                                       <form action="" method="POST" enctype="multipart/form-data">
                                          <textarea class="ckeditor" id="mail4_body" name="mail4_body"  v-model="intiative.mail4_body" v-validate="'required'"
                                             > </textarea>
                                       </form>
                                    </div>
                                 </div>
                                 <div class="from-group">
                                    <small v-if="errors.has('mail4_body')" class="fieldvalidate in_flv">This field is required</small>
                                 </div>
                              </div>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">
                           <textarea rows="9" cols="25" class="outline">Initiative partner account -When a new initiativer is added -fields can be replaced [initiative_name] [name] [first_name] [username] [password] [unique_url] [ticker_url]
                           </textarea>
                        </td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Subject:</label>
                              <div class="form-group">
                                 <input class="form-control" v-validate="'required'"
                                    v-model="intiative.mail5_sub" name="mail5_sub" type="text"
                                    placeholder="">
                              </div>
                              <div class="form-group">
                                 <small v-if="errors.has('mail5_sub')" class="fieldvalidate in_flv">This
                                 field is required</small>
                              </div>
                              <label for="uname">Message:</label>
                              <div class="outereditor">
                                 <div class="form-group">
                                    <div class="editor">
                                       <form action="" method="POST" enctype="multipart/form-data">
                                          <textarea class="ckeditor" id="mail5_body"  name="mail5_body"  v-model="intiative.mail5_body" v-validate="'required'"
                                             >
                                          </textarea>
                                       </form>
                                    </div>
                                 </div>
                                 <div class="from-group">
                                    <small v-if="errors.has('mail5_body')" class="fieldvalidate in_flv">This field is required</small>
                                 </div>
                              </div>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">
                           <textarea rows="9" cols="25" class="outline">Initiative partner account -When a new initiativer is added -fields can be replaced [initiative_name] [name] [first_name] [username] [password] [unique_url] [ticker_url]
                           </textarea>
                        </td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Subject:</label>
                              <div class="form-group">
                                 <input class="form-control" v-validate="'required'"
                                    v-model="intiative.mail6_sub" name="mail6_sub" type="text"
                                    placeholder="">
                              </div>
                              <div class="form-group">
                                 <small v-if="errors.has('mail6_sub')" class="fieldvalidate in_flv">This
                                 field is required</small>
                              </div>
                              <label for="uname">Message:</label>
                              <div class="outereditor">
                                 <div class="form-group">
                                    <div class="editor">
                                       <form action="" method="POST" enctype="multipart/form-data">
                                          <textarea class="ckeditor" id="mail6_body"  name="mail6_body"  v-model="intiative.mail6_body" v-validate="'required'"
                                             ></textarea>
                                       </form>
                                    </div>
                                 </div>
                                 <div class="from-group">
                                    <small v-if="errors.has('mail6_body')" class="fieldvalidate in_flv">This field is required</small>
                                 </div>
                              </div>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">
                           <textarea rows="9" cols="25" class="outline"> </textarea>
                        </td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Subject:</label>
                              <div class="form-group">
                                 <input class="form-control" v-validate="'required'"
                                    v-model="intiative.mail7_sub" name="mail7_sub" type="text"
                                    placeholder="">
                              </div>
                              <div class="form-group">
                                 <small v-if="errors.has('mail7_sub')" class="fieldvalidate in_flv">This
                                 field is required</small>
                              </div>
                              <label for="uname">Message:</label>
                              <div class="outereditor">
                                 <div class="form-group">
                                    <div class="editor">
                                       <form action="" method="POST" enctype="multipart/form-data">
                                          <textarea class="ckeditor" id="mail7_body"  name="mail7_body"  v-model="intiative.mail7_body" v-validate="'required'"
                                             >
                                          </textarea>
                                       </form>
                                    </div>
                                 </div>
                                 <div class="from-group">
                                    <small v-if="errors.has('mail7_body')" class="fieldvalidate in_flv">This field is required</small>
                                 </div>
                              </div>
                           </div>
                        </td>
                     </tr>
                     <tr>
                        <td class="firstcolumn">
                           <textarea rows="9" cols="25" class="outline"> </textarea>
                        </td>
                        <td class="secondcolumn">
                           <div class="form-group formportion">
                              <label for="uname">Subject:</label>
                              <div class="form-group">
                                 <input class="form-control" v-validate="'required'"
                                    v-model="intiative.mail8_sub" name="mail8_sub" type="text"
                                    placeholder="">
                              </div>
                              <div class="form-group">
                                 <small v-if="errors.has('mail8_sub')" class="fieldvalidate in_flv">This
                                 field is required</small>
                              </div>
                              <label for="uname">Message:</label>
                              <div class="outereditor">
                                 <div class="form-group">
                                    <div class="editor">
                                       <form action="" method="POST" enctype="multipart/form-data">
                                          <textarea class="ckeditor" id="mail8_body"  name="mail8_body"  v-model="intiative.mail8_body" v-validate="'required'"
                                             @change="changingCKEditor()" >
                                          </textarea>
                                       </form>
                                    </div>
                                 </div>
                                 <div class="from-group">
                                    <small v-if="errors.has('mail8_body')" class="fieldvalidate in_flv">This field is required</small>
                                 </div>
                              </div>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <hr>
         </div>
      </section>
      <!-- Content Side -->
      <!--footer-->
      <% include ../views/footer.ejs %>
      <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="/js/api/validation.js"></script>
      <script src="/js/api/editInitiative.js" type="text/javascript"></script>
   </body>
</html>