<header class="fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-12 logo">
                <img src="/images/logo-trans.png" class="img-fluid" />
            </div>
            <div class="col-sm-8 col-12 buttonportion topbuttons  d-flex align-items-center">
                <button class="btn btn-danger btn-sm headerbutton">
                    <a class="hm_btn" href="/userList">Home</a>
                </button>
                <div class="dropdown">
                    <button type="button" class="btn btn-info dropdown-toggle btn-sm headerbutton" data-toggle="dropdown">
                        Add
                    </button>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li class="dropdown-submenu">
                            <a  class="dropdown-item" tabindex="-1" href="/addIntiative">Initiative</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a tabindex="-1" href="/intiativeList">Initiative List</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-item"><a href="/addUser">Initiative Partner</a></li>
                    </ul>
                </div>
               
                <button class="btn btn-danger btn-sm headerbutton">
                    <a class="hm_btn" href="/">Logout</a>
                </button>
            </div>
        </div>
    </div>
</header>