<!DOCTYPE html>
<html>
<% include ../views/header.ejs %>

  

    <body>
        <!-- Header -->
      <% include ../views/headerLinks.ejs %>
        <!-- Header -->

        <!-- Content Side -->
        <section class="initiativetable">
            <div class="container">
                <hr>
                <h4 class="userlist">Initiative List</h4>
                <div class="table-responsive userTable">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Initiative Name</th>
                                <th>Local Name</th>
                                <th>Certificate Field #1</th>
                                <th>Certificate Field #2</th>
                                <th>Certificate Field #3</th>
                                <th>Certificate Field #4</th>
                                <th></th>
                            </tr>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Sustainable Meeting</td>
                                <td>Sustainable Meeting</td>
                                <td>[company_name]</td>
                                <td>has planed [client_trees] through the [initiative_name] environmental initiative</td>
                                <td>By attendending a [initiative_name] has both counterbalanced the environmental impact of
                                    the meeting and helped empower the lives of communities across the developing world</td>
                                <td>[initiative_name] wishes to thank [company_namde] for helping reduce Carbon Dioxide
                                    levels in the atmosphere and for supporting proverty eradication in the developping
                                    world</td>
                                <td>
                                    <div class="tablebutton">
                                        <button type="button" class="btn editbutton btn-info btn-sm">Edit</button>
                                        <button type="button" class="btn editbutton btn-warning btn-sm">Delete</button>
                                        <button type="button" class="btn editbutton btn-primary btn-sm">Copy</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Sustainable Meeting</td>
                                <td></td>
                                <td>[company_name]</td>
                                <td>has planed [client_trees] through the [initiative_name] environmental initiative</td>
                                <td>By attendending a [initiative_name] has both counterbalanced the environmental impact of
                                    the meeting and helped empower the lives of communities across the developing world</td>
                                <td>[initiative_name] wishes to thank [company_namde] for helping reduce Carbon Dioxide
                                    levels in the atmosphere and for supporting proverty eradication in the developping
                                    world</td>
                                <td>
                                    <div class="tablebutton">
                                        <button type="button" class="btn editbutton btn-info btn-sm">Edit</button>
                                        <button type="button" class="btn editbutton btn-warning btn-sm">Delete</button>
                                        <button type="button" class="btn editbutton btn-primary btn-sm">Copy</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
            </div>
        </section>
        <!-- Content Side -->

        <!--footer-->
        <% include ../views/footer.ejs %>
    </body>

</html>