<!DOCTYPE html>
<html>

 <% include ../views/header.ejs %>

 <link href="css/initiativeList.css" rel="stylesheet" type="text/css">

  

    <body>
        <!-- Header -->
      <% include ../views/headerLinks.ejs %>
        <!-- Header -->
        <!-- Header -->

        <!-- Content Side -->

       



        <section class="initiativetable" id="intiativeList">

            

                <div id="InitiativeListModal_deleted" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Status</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body" style="text-align: center;">
                              <p v-html="deleteMsg"></p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" id="deleteRecordBtn" class="btn btn-primary" v-on:click="deleteUSer()">Yes</button>
                              <button type="button" class="btn btn-success center_btn"  data-dismiss="modal">No</button>
                            </div>
                          </div>
                        </div>
                      </div>
        
        
                      <div id="InitiativeListModal_recordenotfound" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Status</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body" style="text-align: center;">
                                  <p>Record not found!</p>
                                </div>
                                <div class="modal-footer">
                                  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                  <button type="button" class="btn btn-success center_btn"  data-dismiss="modal">Ok</button>
                                </div>
                              </div>
                            </div>
                          </div>


            <div class="container">
                <hr>
                <span class="recDelMsg" v-bind:style=" showToast ? 'display: block;' : 'display: none;' ">Record has been deleted!</span>
                <h4 class="userlist">Initiative List</h4>
                <div class="table-responsive userTable" v-cloak>
                    <table class="table table-striped table-bordered initiativeLIstTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Initiative Name</th>
                                <th>Local Name</th>
                                <th>Certificate Field #1</th>
                                <th>Certificate Field #2</th>
                                <th>Certificate Field #3</th>
                                <th>Certificate Field #4</th>
                                <th>Action</th>
                            </tr>
                        <tbody>

                            <tr v-for="initiativesListItems in initiativesListItem ">
                                <td>{{initiativesListItems.id}}</td>
                                <td>{{initiativesListItems.initiative_name}}</td>
                                <td>{{initiativesListItems.local_name}}</td>
                                <td>{{initiativesListItems.certificate1}}</td>
                                <td>{{initiativesListItems.certificate2}}</td>
                                <td>{{initiativesListItems.certificate3}}</td>
                                <td>{{initiativesListItems.certificate4}}</td>
                                <td>
                                        <div class="tablebutton">
                                            <button type="button" class="btn editbutton btn-info btn-sm"> <a v-bind:href="'/editIntiative/'+initiativesListItems.id">Edit</a>    </button>
                                            <button type="button" class="btn editbutton btn-warning btn-sm" v-on:click="confirmDeleteRecord(initiativesListItems.id)">Delete</button>
                                            <button type="button" class="btn editbutton btn-primary btn-sm" v-on:click="getacopyOfRow(initiativesListItems.id)">Copy</button>
                                        </div>
                                    </td>
                            </tr>
                            <!-- <tr>
                                <td>1</td>
                                <td>Sustainable Meeting</td>
                                <td>Sustainable Meeting</td>
                                <td>[company_name]</td>
                                <td>has planed [client_trees] through the [initiative_name] environmental initiative</td>
                                <td>By attendending a [initiative_name] has both counterbalanced the environmental impact of
                                    the meeting and helped empower the lives of communities across the developing world</td>
                                <td>[initiative_name] wishes to thank [company_namde] for helping reduce Carbon Dioxide
                                    levels in the atmosphere and for supporting proverty eradication in the developping
                                    world</td>
                                <td>
                                    <div class="tablebutton">
                                        <button type="button" class="btn editbutton btn-info btn-sm">Edit</button>
                                        <button type="button" class="btn editbutton btn-warning btn-sm">Delete</button>
                                        <button type="button" class="btn editbutton btn-primary btn-sm">Copy</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Sustainable Meeting</td>
                                <td></td>
                                <td>[company_name]</td>
                                <td>has planed [client_trees] through the [initiative_name] environmental initiative</td>
                                <td>By attendending a [initiative_name] has both counterbalanced the environmental impact of
                                    the meeting and helped empower the lives of communities across the developing world</td>
                                <td>[initiative_name] wishes to thank [company_namde] for helping reduce Carbon Dioxide
                                    levels in the atmosphere and for supporting proverty eradication in the developping
                                    world</td>
                                <td>
                                    <div class="tablebutton">
                                        <button type="button" class="btn editbutton btn-info btn-sm">Edit</button>
                                        <button type="button" class="btn editbutton btn-warning btn-sm">Delete</button>
                                        <button type="button" class="btn editbutton btn-primary btn-sm">Copy</button>
                                    </div>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <hr>
            </div>
        </section>
        <!-- Content Side -->

        <!--footer-->
      <% include ../views/footer.ejs %>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<!-- <script src="/js/popper.min.js" type="text/javascript"></script> -->
<!-- <script src="/js/bootstrap.min.js" type="text/javascript"></script> -->
      <script src="/js/api/validation.js"></script>
      <script src="/js/api/initiativeList.js" type="text/javascript"></script>


      
      <!-- <script>   
         $(function(){
             $("body").on("click","#deleteRecordBtn",function(){
                 alert("yes clicked")
                let aa = this;
                debugger;
             })
         })
      </script> -->
    </body>

</html>