<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustainable Meeting</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/newstyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Header -->
    <header class="fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-3">
                    <img src="/images/logo-trans.png" class="img-fluid" />
                </div>
                <!-- <div class="col-sm-9 col-9 buttonportion  d-flex align-items-center">
                    <button class="btn btn-danger btn-sm buttonsize">
                        Home
                    </button>
                </div> -->
            </div>
        </div>
    </header>
    <!-- Header -->

    <!-- Content Side -->
    <section class="contentForm">
        <div class="container">
            <hr>


            <div class="contentportion d-flex justify-content-center align-items-center">
                <div class="logininform lg_fm">
                    <h3 class="text-center my-3">Login to your account</h3>
                
                    <div id="error" style="display:none;" class="alert alert-danger error_vld">
                        <label class="sucs_msg adm_lg wrng_vld" style="">wrong username or password</label>
                    </div>
                    <!--     <div class="updateMessage ud_msg  error_vld" id="successs" v-if="success">
                        <label class="sucs_msg adm_lg wrng_vld" style="">Login successful</label>
                    </div>    -->
                    <div class="alert alert-success updateMessage ud_msg  error_vld" id="successs" v-if="success">
                            <label class="sucs_msg adm_lg wrng_vld" style="">Login successful</label>
                          </div>
                    <form name="login-form" id="loginform" class="lg_frm">

                        <div class="form-group">
                            <label for="username">Your Username</label>
                            <input type="text" class="form-control" name="email" id="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Your Password</label>
                            <input type="password" class="form-control" name="password" id="pass"
                                placeholder="Password">
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <button class="btn btn-success btn-sm buttonsize" type="submit" id="btnValidate">
                                Login
                            </button>
                        </div>
                    </form>
                    <div class="form-group d-flex justify-content-center">
                        <label class="forgotpassword">Forgot your password?</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content Side -->
    <script>
        var auth_url = '<%= CONFIG.AUTH_URL %>'
    </script>
    <!--footer-->
    <footer class="text-center">
        <div class="container">
            <h6>If you are interested in becoming a partner of The Green Earth Appeal, please
                <span>contact us</span>
            </h6>
            <hr>
            <div>
                <label class="workwithus">Would you like to work with us?</label><img src="/images/arrow.png">
                <h5>Send us an <span><a href="mailto:website@greenearthappeal.org?subject=I%20was%20on%20your%20website....">email</a></span> or give us a call on <span><a href=" ">020 87980476</a></span></label>
                </h5>
                <label>
                    <br>
                    Copyright &#169 2019 Green Earth Appeal. All Rights Reserved.
                    <br>
                    Site Built By Our Digital Partner <span class="copyright"><a
                            href="https://www.nonoodle.co.uk/">nonoodle.co.uk</a></span></label>
            </div>
        </div>
    </footer>
    <!--footer-->
    <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="js/popper.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/custom.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
    <script src="js/validation/validation.js"></script>
    <script src="js/validation/userevent.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="js/api/login.js"></script>
</body>

</html>