<!DOCTYPE html>
<html>
<% include ../views/header.ejs %>

  

    <body>
        <!-- Header -->
      <% include ../views/headerLinks.ejs %>
        <!-- Header -->
        <!-- Header -->

        <!-- Content Side -->
        <section class="outerbox">
            <div class="container">
                <hr>
                <h4 class="userlist">Users List</h4>
                <div class="table-responsive userTable">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Company</th>
                                <th>Initiative Name</th>
                                <th>Username-Email</th>
                                <th>Contact</th>
                                <th>Total trees</th>
                                <th>Type</th>
                                <th>Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2</td>
                                <td>The Green Earth Appeal</td>
                                <td>(1)Sustainable Meeting</td>
                                <td>cheryl.brown@greenearthappeal,.org</td>
                                <td>Cheryl Brown</td>
                                <td>219</td>
                                <td>initiative</td>
                                <td>1</td>
                                <td>
                                    <div class="tablebutton">
                                        <button type="button" class="btn editbutton btn-info btn-sm">Edit</button>
                                        <button type="button" class="btn editbutton btn-warning btn-sm">Delete</button>
                                        <button type="button" class="btn editbutton btn-danger btn-sm">Login</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>The Green Earth Appeal</td>
                                <td>(1)Sustainable Meeting</td>
                                <td>cheryl.brown@greenearthappeal,.org</td>
                                <td>Cheryl Brown</td>
                                <td>219</td>
                                <td>initiative</td>
                                <td>1</td>
                                <td>
                                    <div class="tablebutton">
                                        <button type="button" class="btn editbutton btn-info btn-sm">Edit</button>
                                        <button type="button" class="btn editbutton btn-warning btn-sm">Delete</button>
                                        <button type="button" class="btn editbutton btn-danger btn-sm">Login</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>The Green Earth Appeal</td>
                                <td>(1)Sustainable Meeting</td>
                                <td>cheryl.brown@greenearthappeal,.org</td>
                                <td>Cheryl Brown</td>
                                <td>219</td>
                                <td>initiative</td>
                                <td>1</td>
                                <td>
                                    <div class="tablebutton">
                                        <button type="button" class="btn editbutton btn-info btn-sm">Edit</button>
                                        <button type="button" class="btn editbutton btn-warning btn-sm">Delete</button>
                                        <button type="button" class="btn editbutton btn-danger btn-sm">Login</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>The Green Earth Appeal</td>
                                <td>(1)Sustainable Meeting</td>
                                <td>cheryl.brown@greenearthappeal,.org</td>
                                <td>Cheryl Brown</td>
                                <td>219</td>
                                <td>initiative</td>
                                <td>1</td>
                                <td>
                                    <div class="tablebutton">
                                        <button type="button" class="btn editbutton btn-info btn-sm">Edit</button>
                                        <button type="button" class="btn editbutton btn-warning btn-sm">Delete</button>
                                        <button type="button" class="btn editbutton btn-danger btn-sm">Login</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>The Green Earth Appeal</td>
                                <td>(1)Sustainable Meeting</td>
                                <td>cheryl.brown@greenearthappeal,.org</td>
                                <td>Cheryl Brown</td>
                                <td>219</td>
                                <td>initiative</td>
                                <td>1</td>
                                <td>
                                    <div class="tablebutton">
                                        <button type="button" class="btn editbutton btn-info btn-sm">Edit</button>
                                        <button type="button" class="btn editbutton btn-warning btn-sm">Delete</button>
                                        <button type="button" class="btn editbutton btn-danger btn-sm">Login</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>The Green Earth Appeal</td>
                                <td>(1)Sustainable Meeting</td>
                                <td>cheryl.brown@greenearthappeal,.org</td>
                                <td>Cheryl Brown</td>
                                <td>219</td>
                                <td>initiative</td>
                                <td>1</td>
                                <td>
                                    <div class="tablebutton">
                                        <button type="button" class="btn editbutton btn-info btn-sm">Edit</button>
                                        <button type="button" class="btn editbutton btn-warning btn-sm">Delete</button>
                                        <button type="button" class="btn editbutton btn-danger btn-sm">Login</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>The Green Earth Appeal</td>
                                <td>(1)Sustainable Meeting</td>
                                <td>cheryl.brown@greenearthappeal,.org</td>
                                <td>Cheryl Brown</td>
                                <td>219</td>
                                <td>initiative</td>
                                <td>1</td>
                                <td>
                                    <div class="tablebutton">
                                        <button type="button" class="btn editbutton btn-info btn-sm">Edit</button>
                                        <button type="button" class="btn editbutton btn-warning btn-sm">Delete</button>
                                        <button type="button" class="btn editbutton btn-danger btn-sm">Login</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>The Green Earth Appeal</td>
                                <td>(1)Sustainable Meeting</td>
                                <td>cheryl.brown@greenearthappeal,.org</td>
                                <td>Cheryl Brown</td>
                                <td>219</td>
                                <td>initiative</td>
                                <td>1</td>
                                <td>
                                    <div class="tablebutton">
                                        <button type="button" class="btn editbutton btn-info btn-sm">Edit</button>
                                        <button type="button" class="btn editbutton btn-warning btn-sm">Delete</button>
                                        <button type="button" class="btn editbutton btn-danger btn-sm">Login</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>The Green Earth Appeal</td>
                                <td>(1)Sustainable Meeting</td>
                                <td>cheryl.brown@greenearthappeal,.org</td>
                                <td>Cheryl Brown</td>
                                <td>219</td>
                                <td>initiative</td>
                                <td>1</td>
                                <td>
                                    <div class="tablebutton">
                                        <button type="button" class="btn editbutton btn-info btn-sm">Edit</button>
                                        <button type="button" class="btn editbutton btn-warning btn-sm">Delete</button>
                                        <button type="button" class="btn editbutton btn-danger btn-sm">Login</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
            </div>
        </section>
        <!-- Content Side -->

        <!--footer-->
    <% include ../views/footer.ejs %>
    </body>

</html>