small.fieldvalidate{
    color: #5f5f5f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    font-weight: 500;
    width: 100%;
    padding: 6px 12px;
    border-radius: 15px;
}

.center_btn{
    margin:0 auto;
}

.initiativeLIstTable{
    vertical-align: middle;
}
#previewUploadImage{
    width:200px;
   
}
#previewUploadImage span{
    display: block;
    padding: 10px 0px;
    font-size: 14px;
}
#previewUploadImage img{
    width:100%;
}
button:hover{
    cursor: pointer;
}