

.initiativeLIstTable td{
    vertical-align: middle;
}

.recDelMsg{
    border-radius: 3px;
    width: 100%;
    padding: 14px;
    background-color: #76d874;
    color: #fff;
    margin: 15px 0px;
}