* {
  margin: 0; }

a {
  color: inherit; }
  a:hover {
    text-decoration: none; }

body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #464646; }

header {
  padding: 10px 0;
  background-color: #fff; }

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.buttonportion {
  justify-content: flex-end; }

section.contentForm {
  padding-top: 105px; }

.logininform h3 {
  padding: 10px 35px;
  border-bottom: 1px solid #e2e2e2; }

.logininform {
  width: 400px;
  padding: 40px 0; }

.forgotpassword {
  font-size: 13px;
  color: #3b863b;
  font-weight: 600; }

footer {
  width: 100%;
  text-align: center; }

footer h6 {
  color: #3b863b;
  font-size: 14px;
  font-weight: 400; }

footer h6 span {
  font-weight: 700; }

footer h5 span {
  color: #3b863b; }

footer h5 span:hover{
  text-decoration: underline;
}

label {
  font-size: 12px; }

.copyright {
  text-decoration: underline;
  color: #fb8e06; }

  .copyright:hover{
    text-decoration: underline;
    color: #fb8e06; }

footer img {
  margin: 2px 5px; }

footer.workwithus {
  margin: 0;
  margin-top: 7px; }

header button {
  margin: 0 5px; }

hr {
  margin: 0; }

.userlist {
  margin-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 8px;
  padding-top: 2px; }

.userTable table th {
  font-size: 14px; }
.userTable table td {
  font-size: 14px; }

.outerbox {
  padding-top: 106px; }

.table tbody tr td {
  padding: 4px 16px; }

.tablebutton {
  display: flex; }

.editbutton {
  margin: 0 2px;
  font-size: 12px; }

.initiativetable {
  padding-top: 105px; }

.initiativehome {
  padding-top: 153px; }

.headertopbuttons {
  width: 100%;
  margin: 0; }

.headerbottombuttons {
  width: 100%;
  margin: 0;
  margin-top: 10px; }

.initiativehome p span {
  font-weight: 700; }

.leftheader h6 {
  color: #3b863b; }

.subline {
  display: flex;
  justify-content: flex-end;
  margin: 0; }

.leftheader h6 span {
  font-weight: 900;
  display: contents; }

.leftbuttons {
  padding: 22px 0;
  display: flex;
  justify-content: flex-end; }

.headerbutton {
  margin: 0px 3px; }

.searchbutton {
  margin: 0 15px; }

.dropdownbutton {
  background-color: #fff;
  border: 1px solid #b9b9bd;
  color: #464646; }

.searchicon {
  color: #fff; }

.invoice {
  padding: 50px 0; }

.invoicehistory {
  padding-top: 153px; }

.contenttopbutton {
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end; }

.contentbutton {
  margin-left: 6px; }

.deletedinvoice {
  padding: 20px; }

.uploadclients {
  width: 500px;
  text-align: center;
  margin: 0 auto; }

.file {
  width: 209px;
  margin-left: 20px;
  height: 28px;
  font-size: 13px; }

.uploadbutton {
  padding: 4px;
  font-size: 14px; }

.csvfile {
  margin-left: 20px; }

.initiativebox {
  padding-top: 153px; }

.initiativepartner {
  padding-top: 105px; }

.forms label {
  font-size: 14px; }

.forms .form-group {
  font-size: 14px; }

.forms .form-group .form-control {
  font-size: 14px; }

.firstcolumn {
  width: 300px;
  font-size: 14px;
  padding: 10px 15px !important; }

.secondcolumn {
  padding: 10px 15px !important; }

.outline {
  border: 1px solid #b7b5b5; }

.formportion label {
  font-size: 14px; }

.formportion .form-control {
  font-size: 13px; }

.secondcolumn .radiobutton {
  display: grid; }

#myFile {
  margin: 0;
  max-width: 100%;
  font-size: 14px; }

.buttongroups {
  text-align: center;
  margin: 15px 0; }

.savebutton {
  border: none; }

.link {
  font-size: 14px;
  padding: 0; }

.link a {
  width: 100%;
  float: left;
  color: #3b863b;
  word-break: break-all; }

.link a :hover {
  color: #3b863b; }

.link a:focus {
  color: #3b863b; }

.changepassword {
  /*    width: 648px;*/
  margin: 0 auto;
  max-width: 100%; }

.password {
  width: 448px;
  margin: 0 auto;
  max-width: 100%; }

.subheading {
  border: none;
  margin-top: 15px; }

.links {
  color: #3594e6; }

.company {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 0; }

.companyinfo {
  border: 1px solid #e6e6ea;
  padding: 20px; }

.companyinfo h4 {
  border: none; }

.comapnyinfo h5 {
  font-weight: 400 !important; }

.companyinfo .userlist {
  text-align: center; }

.company .userbutton {
  color: #3b863b; }

.company .savebutton {
  margin-bottom: 4px; }

.initiativecompany {
  padding-top: 153px; }

.btn-danger {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }
  .btn-danger:hover {
    background: #bd362f; }

.btn-success {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }
  .btn-success:hover {
    background: #449d44; }

.btn-info {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }
  .btn-info:hover {
    background: #2f96b4; }

.btn-warning {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }
  .btn-warning:hover {
    background: #f89406; }

.userTable .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0); }
.userTable .table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05); }
.userTable thead tr {
  background-color: rgba(0, 0, 0, 0.05); }
.userTable .table-bordered th, .userTable .table-bordered td {
  border: 1px solid #ddd; }

.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: -3px;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
  right: auto;
  left: 100%;
}
.multi-level .dropdown-item {
  padding: 3px .5rem !important;
}
.dropdown-submenu > .dropdown-menu {
    min-width: 80px;
}
.multi-level{
min-width: 140px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: 0px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #fff; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px; }

.partnertable .table-bordered th, .partnertable .table-bordered td {
  border: 1px solid #ddd; }

.save-btn .btn-warning {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }
  .hm_btn{
    text-decoration: none;
    color:#fff;
  }
  .adm_lg{
    font-size: 15px;
  }
.hm_btn:hover{
  color:#fff;
}
.pw_vld{
  position: relative;
  top: -146px;
}
.fl_vld{
  position: relative;
  top: -231px;
}
.lg_fm{
  position: relative;
}

.loginvalidate {
  color: #000000;
  margin: 0;
  font-size: 12px;
  border-radius: 13px;
  padding: 5px 10px;
  margin-top: 9px;
  background: #dff0d8;
  position: relative;
  margin-left: 14px;
}
.loginvalidate:after{
  content: '';
  /* width: 0; */
  /* height: 0; */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #dff0d8;
  top: -5px;
  left: 5px;
  position: absolute;
}
label.error {
  position: absolute;
  bottom: -39px;
  left: 10px;
  z-index: 99;
}
.updateMessage .fieldvalidate{
  color: #035003;
  width: 100%;
  position: initial;
  border-radius: 0;
  padding: 10px 15px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #c6eab7;
  background: #cfe0c8;
}
.ud_msg{
  position:inherit;
}
.sucs_msg{
  width: 400px !important;
    position: relative !important;
    top: 0;
    left: 0;
    text-align: left;
    font-size: 14px;
}
.fieldvalidate{
  color: #000000;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  border-radius: 13px;
  padding: 5px 10px;
  background: #dff0d8;
}
.wrong_username{
  color:#292b2c;
  margin: 0;
  font-size: 12px;
  border-radius: 13px;
  padding: 5px 10px;
  margin-top: 9px;
  background: #e2dbbe;
  position: relative;
  margin-left: 14px;
  margin-bottom: 4px;
}
.error_vld{
  width: 100%;
  position: absolute;
  top: 114px;
  text-align: center;
}
.wrng_vld{
  position: relative;
  margin: 0;
}
.lg_frm{
  padding-top: 36px;
}




@media (max-width: 1920px) {
  .outerbox {
    min-height: 100vh; }

  .initiativepartner {
    padding-top: 106px; }

  .initiativecompany {
    padding-top: 154px; } }
@media (max-width: 1360px) {
  .initiativecompany {
    padding-top: 154px; } }
@media (max-width: 1199px) {
  .table tbody tr td {
    padding: 4px 8px; }

  .editbutton {
    padding: 5px; }

  .userlist {
    font-size: 22px; }

  .initiativepartner {
    padding-top: 105px; } }
@media (max-width: 995px) {
  .invoicehistory {
    padding-top: 135px; }

  .initiativehome {
    padding-top: 135px; }

  .figurehistory {
    padding-top: 168px; }

  .headerbutton {
    margin-top: 6px; }

  .headerbottombuttons {
    margin: 0; }

  .leftbuttons {
    padding: 12px 0; }

  .initiativebox {
    padding-top: 135px; } }
@media (max-width: 990px) {
  .initiativebox {
    padding-top: 168px; }

  .initiativecompany {
    padding-top: 169px; }

  .initiativehome {
    padding-top: 168px; }

  .invoicehistory {
    padding-top: 168px; } }
@media (max-width: 970px) {
  .editbutton {
    width: 48px; }

  .headerbutton {
    font-size: 13px;
    margin: 2px;
    padding: 6px 11px; }

  .headerbottombuttons {
    margin-top: 0; }

  .initiativehome {
    padding-top: 175px; }

  .leftbuttons {
    padding: 14px 0; }

  .dropdownbutton {
    font-size: 14px; }

  .searchbutton {
    height: 35px;
    padding: 0px 10px;
    margin: 0px 10px; }

  .invoicehistory {
    padding-top: 175px; }

  .invoice {
    padding: 35px 0; }

  .uploadclients {
    width: 469px; }

  .initiativebox {
    padding-top: 175px; }

  .outerbox {
    padding-top: 105px; }

  .initiativetable {
    padding-top: 105px; }

  .initiativepartner {
    padding-top: 105px; }

  .firstcolumn {
    width: 257px; }

  .initiativecompany {
    padding-top: 176px; } }
@media (max-width: 767px) {
  section.contentForm {
    padding-top: 73px; }

  .logininform {
    width: 350px; }

  header button {
    margin: 0 1px; }

  .outerbox {
    padding-top: 96px; }

  footer h5 {
    font-size: 18px; }

  .headerbutton {
    margin: 2px;
    font-size: 13px;
    padding: 4px; }

  .userlist {
    font-size: 19px; }

  .initiativetable {
    padding-top: 96px; }

  .leftbuttons {
    padding: 10px 0; }

  .outbox {
    width: 543px; }

  .initiativehome {
    padding-top: 153px; }

  .invoice {
    padding: 15px 0; }

  .invoicehistory {
    padding-top: 153px; }

  .deletedinvoice {
    padding: 15px; }

  .leftheader h6 {
    font-size: 14px; }

  .uploadclients h4 {
    font-size: 18px; }

  .uploadclients {
    width: 367px; }

  .file {
    font-size: 13px;
    margin-left: 15px; }

  .csvfile {
    font-size: 13px;
    margin-left: 15px; }

  .downloadbutton {
    font-size: 13px; }

  .uploadbutton {
    font-size: 13px; }

  .choosefile {
    height: 26px; }

  .initiativebox {
    padding-top: 153px; }

  .initiativepartner {
    padding-top: 96px; }

  .firstcolumn {
    width: 211px;
    font-size: 12px; }

  .formportion label {
    font-size: 14px; }

  .formportion .form-control {
    font-size: 13px; }

  .initiativecompany {
    padding-top: 153px; }

  .company {
    padding: 30px 0; } }
@media (max-width: 668px) {
  .headerbutton {
    margin-top: 3px; }

  .headerbottombuttons {
    margin-top: 0; }

  .leftheader h6 {
    margin: 0; }

  .initiativebox {
    padding-top: 148px; } }
@media (max-width: 640px) {
  .initiativetable {
    padding-top: 97px; }

  .outbox {
    width: 541px; }

  .headerbottombuttons {
    margin-top: 0px; }

  .headerbutton {
    padding: 2px 8px; }

  .initiativehome {
    padding-top: 123px; }

  header {
    padding: 0; }

  .invoicehistory {
    padding-top: 123px; }

  .outerbox {
    padding-top: 96px; }

  .initiative {
    width: 542px; }

  .initiativebox {
    padding-top: 121px; }

  .logo {
    padding-top: 10px; }

  .initiativecompany {
    padding-top: 125px; }

  .password {
    width: 100%; } }
@media (max-width: 575px) {
  .initiativetable {
    padding-top: 122px; }

  .buttonportion {
    justify-content: center;
    margin-top: 5px; }

  .headerbutton {
    padding: 2px 25px; }

  header {
    padding: 15px 0; }

  .initiativehome {
    padding-top: 177px; }

  .headerbutton {
    padding: 2px 5px; }

  header {
    padding: 7px 0; }

  .invoicehistory {
    padding-top: 178px; }

  br {
    display: none; }

  .outerbox {
    padding-top: 121px; }

  .initiativebox {
    padding-top: 177px; }

  .logo {
    display: flex;
    justify-content: center; }

  .contenttopbutton {
    justify-content: center; }

  .uploadcontainer {
    margin: 0 17px; }

  .userlist {
    text-align: center; }

  .headertopbuttons {
    display: flex;
    justify-content: center; }

  .headerbottombuttons {
    display: flex;
    justify-content: center; }

  .subline {
    justify-content: center; }

  .logo img {
    width: 130px; }

  .logo {
    padding-top: 8px; }

  .initiativepartner {
    padding-top: 121px; }

  .buttongroups {
    margin-top: 0;
    margin-bottom: 10px; }

  .formarea label {
    font-size: 14px; }

  .formarea .form-control {
    font-size: 13px; }

  .firstcolumn {
    width: 200px; }

  .initiativecompany {
    padding-top: 177px; }

  .middlebuttons {
    margin: 0 auto; }

  .company {
    padding: 25px 0; } }
@media (max-width: 538px) {
  .logininform h3 {
    font-size: 22px; }

  .outerbox {
    padding-top: 135px; }

  .topbuttons {
    padding: 7px;
    justify-content: center; }

  .userlist {
    font-size: 20px; }

  footer h5 {
    font-size: 16px; }

  .initiativetable {
    padding-top: 135px; }

  br {
    display: none; }

  .outbox {
    width: 443px; }

  .leftheader h6 {
    font-size: 12px; }

  .userlist {
    font-size: 18px; }

  .initiativehome p {
    font-size: 14px; }

  .headerbutton {
    padding: 2px 12px; }

  .initiativehome {
    padding-top: 202px; }

  .invoicehistory {
    padding-top: 202px; }

  .invoice {
    padding: 11px 0; }

  .initiative {
    width: 444px; }

  .initiativebox {
    padding-top: 202px; }

  .uploadcontainer {
    margin: 0 48px; }

  .initiativepartner {
    padding-top: 135px; }

  .initiativecompany {
    padding-top: 202px; } }
@media (max-width: 480px) {
  section.contentForm {
    padding-top: 74px; }

  .logininform {
    width: 279px; }

  .logininform h3 {
    font-size: 21px; }

  .buttonsize {
    font-size: 12px; }

  .outbox {
    width: 385px; }

  .headerbutton {
    padding: 2px 5px; }

  .dropdownbutton {
    font-size: 13px; }

  .searchbutton {
    height: 34px; }

  .headerbutton {
    font-size: 12px;
    padding: 2px 8px; }

  .invoicehistory {
    padding-top: 199px; }

  .initiativehome {
    padding-top: 199px; }

  .uploadclients {
    width: 251px; }

  .outerbox {
    padding-top: 134px; }

  .initiative {
    width: 384px; }

  .initiativebox {
    padding-top: 199px; }

  .initiativepartner {
    padding-top: 134px; }

  .firstcolumn {
    width: 190px; } }
@media (max-width: 360px) {
  section.contentForm {
    padding-top: 59px; }

  .dropdown {
    margin-bottom: 3px; }

  .outerbox {
    padding-top: 120px; }

  .userlist {
    font-size: 16px; }

  footer h5 {
    font-size: 14px; }

  .logo {
    display: flex;
    justify-content: center; }

  .logo img {
    width: 100px; }

  .initiativetable {
    padding-top: 120px; }

  .headerbutton {
    padding: 0 3px;
    font-size: 12px; }

  .outbox {
    width: 308px; }

  .initiativehome p {
    font-size: 12px; }

  .userlist {
    font-size: 16px; }

  .initiativehome {
    padding-top: 172px; }

  .dropdownbutton {
    padding: 4px; }

  .searchbutton {
    height: 28px;
    padding: 0px 8px;
    margin: 0px 5px; }

  .invoicehistory {
    padding-top: 172px; }

  .dropdownbutton {
    font-size: 12px; }

  .searchbutton {
    height: 26px; }

  .invoice {
    padding: 3px 0; }

  .uploadclients {
    width: 287px; }

  .file {
    font-size: 12px;
    margin-left: 10px; }

  .csvfile {
    font-size: 12px;
    margin-left: 10px; }

  .downloadbutton {
    font-size: 12px; }

  .uploadbutton {
    font-size: 12px; }

  .choosefile {
    height: 24px; }

  .initiative {
    width: 303px; }

  .uploadclients {
    width: 233px; }

  .uploadcontainer {
    margin: 0; }

  .initiativebox {
    padding-top: 173px; }

  .initiativepartner {
    padding-top: 121px; }

  .formarea label {
    font-size: 12px; }

  .formarea .form-control {
    font-size: 11px; }

  .firstcolumn {
    width: 180px; }

  .initiativecompany {
    padding-top: 172px; }

  .company {
    padding: 20px 0; } }
@media (max-width: 320px) {
  .outbox {
    width: 290px; }

  .initiative {
    width: 288px; }

  .contentbutton {
    padding: 0px 2px;
    margin: 0; } }

/*# sourceMappingURL=newstyle.css.map */
