.page-container {
    width: 100%;
    height: 812px;
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: 542px 804px;
    background-position: 0 -5px;
    padding: 20px 20px;
    color: #18662b;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap-container {
    text-align: center;
    float: left;
    width: 100%;
}
.wrap-container h3 {
    font-size: 26px;
    margin: 0 0 10px 0;
    float: left;
    width: 100%;
}

.wrap-container p {
    font-size: 13px;
    font-weight: 500;
    margin: 15px 0;
}

.devider {
    width: 100%;
    float: left;
    padding: 10px 0 0 0;
}

.wrapDevide {
    width: 48%;
    float: left;
    text-align: center;
    padding: 0 1%;
}

.wrapDevide h4 {
    font-size: 18px;
    margin: 0;
    font-weight: bolder;
    color: #20562f;
    line-height: 1.2;
}

.markText {
    width: 280px;
    height: 150px;
    position: absolute;
    top: 529px;
    left: 59px;
    color: #067d05;
}
.markText p {
    font-size: 13px;
}

.logo-Wrap {
    width: 531px;
    position: absolute;
    top: 8px;
    left: 21px;
}
.logo-Wrap img {
    width: 531px;
}

.date {
    width: 300px;
    height: 150px;
    position: absolute;
    top: 636px;
    left: 218px;
}
.boldText {
    color: #067d05;
    font-weight: 700;
    font-size: 16px;
}

.date p {
    font-size: 12px;
    color: black;
}

.name p {
    font-weight: 600;
    font-size: 27px;
}
.subheading {
    color: #348834;
    font-weight: 500;
    font-size: 15px;
}
.name{
font-size: 25px;
padding-top: 113px;
}



